
body{
    background-color: rgba(25,25,25);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.moves{
    font-size: 1.5rem;
}


.title{
    font-size : 30px;
    font-weight: bold;

}


.icon{
    font-size: 80px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 20px;
    border-radius: 100px;
    margin-right: 15px;
}

.result{
    font-size:25px;
    font-weight: bold;
    margin-top: 50px;
}
.score{
    margin-top: 20px;
}
.reset-score-button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
}


@media(max-width:480px){
    .icon{
        font-size: 75px;
        padding: 15px 20px;
    }
}

@media(max-width:450px){
    .icon{
        font-size: 50px;
        padding: 15px 20px;
    }
    .moves{
        font-size: 1.2rem;
    }
}

@media(max-width:400px){
    .icon{
        font-size: 3rem;
        padding: 5px 10px;
    }
    .moves{
        font-size: 1.1em;
    }
}
@media(max-width:300px){
    .icon{
        font-size: 2.5rem;
        padding: 5px 10px;
    }
    .moves{
        margin-top: 10px;
        font-size: 0.9em;
    }
}